$color1: rgba(151, 223, 252, 1);
$color2: rgba(133, 138, 227, 1);
$color3: rgba(97, 61, 193, 1);
$color4: rgba(78, 20, 140, 1);
$color5: rgba(44, 7, 53, 1);
$serif-fonts: Georgia, Cambria, "Times New Roman", serif;
$font-base-size: 18px;
$border: 2px solid $color1;
$border-radius: 5px;
$padding-base: 8px;
$margin-base: 0px;
$margin-small: 7px;